{% extends 'index_base.html' %}
{% block extra_css %}
    <style>
        .header{
            display: block;
            margin-bottom: 20px;
        }
        .nav{
            text-align: center;
            width: 80%;
            height: 30px;
            display: block;
            float: left;
        }
        .nav li{
            float: left;
            width: 20%;
        }
        .header-r{
            float: right;
            height: 30px;
            margin-right: 20px;
        }
    </style>
{% endblock %}
{% block header %}
    <div class="header">
	    <div class="wrap">
            <ul class="nav">
                <li><a href={% url 'index' %}>首页</a></li>
                <li><a href="/models">模型</a></li>
                <li><a href="/bbs/index.html?action=cat&type=3" target="_blank">教程</a></li>
                <li><a href="/bbs/index.html" target="_blank">社区</a></li>
		    </ul>
		    {% if request.user.is_authenticated %}
                <div class="header-r">
                    <div class="user_info">
                        <p>{{ username }}</p>
                    </div>
                    <div class="mulogin">
                        <a href={% url 'user_logout' %}>登出</a>
                    </div>
		        </div>
            {% else %}
                <div class="header-r">
                    <div class="mulogin">
                        <a href={% url 'user_login' %}>登录</a> | <a href={% url 'user_register' %}>注册</a>| <a href={% url 'user_logout' %}>登出</a>
                    </div>
		        </div>
            {% endif %}
	    </div>
    </div>
{% endblock %}
{% block body %}
    {% for foo in projects %}
        <div class="project_info">
            <img src="{{ MEDIA_URL }}project/1/task/74d9d965-b00f-4ddf-a49d-d41e5f4bfd5d/assets/odm_orthophoto/odm_orthophoto.png" alt="">
        </div>
    {% endfor %}
{% endblock %}


<script type="text/javascript" src="/static/web/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/web/js/layer.js"></script>
<script type="text/javascript">