{% extends 'index_base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'app/css/project_info.css' %}">
{% endblock %}
{% block header %}
    <div class="header">
	    <div class="wrap">
            <ul class="nav1">
                <li><a href={% url 'index' %}>首页</a></li>
                <li><a href="/models">模型</a></li>
                <li><a href="/bbs/index.html?action=cat&type=3" target="_blank">教程</a></li>
                <li><a href="/bbs/index.html" target="_blank">社区</a></li>
		    </ul>
            <ul class="nav2">
                {% if request.user.is_authenticated %}
                    <li><a href="/user/mine" target="_blank">{{ request.user }}</a></li>
                    <li><a href={% url 'user_logout' %}>登出</a></li>
                {% else %}
                    <li><a href={% url 'user_login' %}>登录</a></li>
                    <li><a href={% url 'user_register' %}>注册</a></li>
                {% endif %}
            </ul>
	    </div>
    </div>
{% endblock %}
{% block body %}
    <div class="body_projects">
    {% for foo in projects %}
        {% for task in foo.tasks %}
            <div class="body_info">
                <img src="{{ MEDIA_URL }}project/{{ foo.id }}/task/{{ task }}/assets/odm_orthophoto/odm_orthophoto.png" alt="">
                <a href="/api/projects/{{ foo.id }}/tasks/{{ task }}"><P>{{ foo.name }}</P></a>
                <p>{{ foo.owner }}</p>
{#                <p>{{ foo.description }}</p>#}
                <p>{{ foo.created_at }}</p>
            </div>
        {% endfor %}
    {% endfor %}
    </div>

{% endblock %}


<script type="text/javascript" src="/static/web/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/web/js/layer.js"></script>
<script type="text/javascript">