{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app/img/logo512.png' %}">

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="{% static 'Okaygis/css/bootstrap.min.css' %}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="{% static 'Okaygis/css/core.css' %}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="{% static 'Okaygis/css/shortcode/shortcodes.css' %}">
    <!-- Theme main style -->
    <link rel="stylesheet" href="{% static 'Okaygis/style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'Okaygis/css/responsive.css' %}">
    <!-- Style customizer (Remove these two lines please) -->
    <link rel="stylesheet" href="{% static 'Okaygis/css/style-customizer.css' %}">
    <link href="#" data-style="styles" rel="stylesheet">

    <!-- Modernizr JS -->
    <script src="static/Okaygis/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<!-- Body main wrapper start -->
<div class="wrapper">
    <!-- Start of header area -->
    <header class="header-area">
        <div class="header-top navy-bg ptb-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="header-top-info">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="icofont icofont-ui-call"></i>
                                        热线电话 16602035452
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icofont icofont-envelope"></i>
                                        邮箱 duanlerong@live.com
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <div class="header-top-right f-right">
                            <div class="header-top-language f-left">
                                <ul>
                                    <li><a href="#" data-toggle="dropdown">{{ request.myuser }}<i
                                            class="icofont icofont-simple-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="/user/mine">我的模型</a></li>
                                            <li><a href="#">我的钱包</a></li>
                                            <li><a href="#">我的设置</a></li>
                                            <li><a href="/user/logout">登出</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom stick-h2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="logo">
                            {#                                <a href="index.html"><img src="static/Okaygis/images/logo/logo.png" alt=""> </a>#}
                        </div>
                    </div>
                    <div class="col-md-8 hidden-sm hidden-xs">
                        <div class="menu-area f-right">
                            <nav>
                                <ul>
                                    <li><a href="{% url 'index' %}">首页</a></li>
                                    <li><a href="{% url 'model' %}">模型</a></li>
                                    <li><a href="#">教程</a></li>
                                    <li><a href="#">社区</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="hidden-lg hidden-md col-sm-12 col-xs-12">
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area end -->
    <!-- End of header area -->
    <section class="breadcrumbs-area bg-3 ptb-110 bg-opacity bg-relative">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="breadcrumbs">
                        <a href=""><h2 class="page-title">新建项目</h2></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="event-area ptb-110">
        <div class="container">
            <div class="nav-li" style="width: 10%;float: left;">
                <ul style="border-right: 1px solid grey;">
                    <li><a href="#" style="height: 50px;width: 100%;color: black;line-height: 50px;text-align: center">我的模型</a>
                    </li>
                    <li><a href="#" style="height: 50px;width: 100%;color: black;line-height: 50px;text-align: center">我的钱包</a>
                    </li>
                    <li><a href="#" style="height: 50px;width: 100%;color: black;line-height: 50px;text-align: center">我的设置</a>
                    </li>
                </ul>
            </div>
            <div class="mine-content" style="width: 90%;float: right;">
                <div class="nav-detail" style="height: 40px;">
                    <P style="height: 39px;width: 80px; float: left;text-align: center;line-height: 39px;font-size: 18pxpx;">
                        模型状态：</P><input type="text" style="width: 100px; float: left;height: 39px;">
                    <button type="button" onclick="" id="search"
                            style="color: black;float: right; width: 100px;height: 40px;">Search
                    </button>
                    <input type="text" style="float: right; width: 100px;height: 39px;" id="search">
                </div>
                <!--<div id="project" style="width: 100%;height: 160px;padding: 4px;background: darkgrey;margin-top: 10px;">
                    <img src="{% static 'app/img/logo512.png' %}" alt="icon"
                         style="float: left;height: 152px;margin-left:0;">
                    <div class="project-info" style="width: 80%;float: right;height: 152px;margin-left: 10px">
                        <li style="height: 38px;"><p id="project_name">ProjectName</p></li>
                        <li style="height: 38px;"><p>ProjectCreatedAt</p></li>
                        <li style="height: 38px;"><p>ProjectLabel</p></li>
                        <li style="height: 38px;"><p style="float: left;height: 38px;line-height: 38px;">
                            ProjectStatusCode</p>
                            <button style="height: 38px;color: black;float: right;">Delete</button>
                            <button style="height: 38px;color: black;float: right">Continue</button>
                        </li>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <footer class="footer-area">
        <div class="footer-top ptb-110 navy-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer-logo-address">
                            <div class="footer-logo">
                                <a href="#"><img src="{% static 'app/img/logo512.png' %}" alt=""
                                                 style="height: 50px;width: 50px;"></a>
                            </div>
                            <div class="footer-address">
                                <div class="header-top-info">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="icofont icofont-ui-call"></i>
                                                热线电话 16602035452
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icofont icofont-envelope"></i>
                                                邮箱 duanlerong@live.com
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icofont icofont-location-pin"></i>
                                                科学城科学大道162号创意大厦B214层
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer-bottom-text ptb-20">
                            <p>
                                Copyright &copy; 2017.Company name All rights reserved.More Templates <a
                                    href="http://www.okaygis.com/" target="_blank" title="">欧科信息科技有限公司</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- Body main wrapper end -->


<!-- Placed js at the end of the document so the pages load faster -->
<!-- jquery latest version -->
<script src="{% static "Okaygis/js/vendor/jquery-1.12.0.min.js" %}"></script>
<!-- Bootstrap framework js -->
<script src="{% static 'Okaygis/js/bootstrap.min.js' %}"></script>
<!-- ajax-mail JS
============================================ -->
<script src="{% static 'Okaygis/js/ajax-mail.js' %}"></script>
<!-- All js plugins included in this file. -->
<script src="{% static 'Okaygis/js/plugins.js' %}"></script>
<script src="{% static 'Okaygis/js/main.js' %}"></script>
<script>
    $(document).ready(function () {
        $.get(
            "/api/projects/",
            function (data) {

                for(let i in data.results){
                    for(let j in data.results[i].tasks){
                        let project_info = "<div id=\"project\" style=\"width: 100%;height: 160px;padding: 4px;background: darkgrey;margin-top: 10px;\">\n" +
                        "                        <img src=\""+"/media/project/"+data.results[i].id+"/task/"+data.results[i].tasks[j]+"/assets/odm_orthophoto/odm_orthophoto.png\""+" alt=\"icon\" style=\"float: left;height: 152px;margin-left:0;\">\n" +
                        "                        <div class=\"project-info\" style=\"width: 80%;float: right;height: 152px;margin-left: 10px\">\n" +
                        "                            <li style=\"height: 38px;\"><p id=\"project_name\">"+data.results[i].name+"</p></li>\n" +
                        "                            <li style=\"height: 38px;\"><p>"+data.results[i].created_at.substring(0,10)+"</p></li>\n" +
                        "                            <li style=\"height: 38px;\"><p>ProjectLabel</p></li>\n" +
                        "                            <li style=\"height: 38px;\"><p style=\"float: left;height: 38px;line-height: 38px;\">ProjectStatusCode</p><button style=\"height: 38px;color: black;float: right;\">Delete</button><button style=\"height: 38px;color: black;float: right\">Continue</button></li>\n" +
                        "                        </div>\n" +
                        "                    </div>"
                        $(".mine-content").append(project_info)
                    }
                };
            }
        );
    });
</script>

</body>

</html>
